<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"> {% load staticfiles %}
    <link rel='shortcut icon' href="{% static "images/logo.png" %}" type='image/x-icon' />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{% static "css/materialize.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <!-- Compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static "js/materialize.min.js" %}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>bucketlist</title>
</head>

<body>
    <div class="row ">
        <div class="navbar-fixed ">
            <!-- Navbar goes here -->
            <nav class="light-blue dark-4 z-depth-2 fixed">
                <div class="logoe l12 s12 left">
                    <h5><a href='/web/bucketlists/'><img src="{% static "images/logo.png" %}" width="32" alt="">bucketlist </a></h5>
                </div><a href="/web/logout" class="circle right">logout<i class="material-icons right">https</i> </a>
            </nav>
        </div>
        <!-- side -->
        {%include 'side.html'%}
        <!-- end side -->
        <!-- Page Layout here -->
        <div class="main col l10">
            <div class=" ">
                <div class="fixed-action-btn" style="">
                    <a class="btn-floating btn-large cyan">
                        <i class="large material-icons">mode_edit</i>
                    </a>
                    <ul>
                        <li><a class="btn-floating btn-large waves-effect waves-light cyan modal-trigger blue-grey-text " href="#modal1"><i class=" large material-icons">add</i></a></li>
                        <li><a class="btn-floating yellow darken-1 modal-trigger" href="#modal6"><i class="material-icons">search</i></a></li>
                    </ul>
                </div>
                {% block content %}{% endblock %} {%include 'modal.html'%}
            </div>
        </div>
</body>
<script src="{% static "js/script.js" %}"></script>

</html>
