<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8"> {% load staticfiles %}
    <link rel='shortcut icon' href="{% static "images/logo.png" %}" type='image/x-icon' />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{% static "css/materialize.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <!-- Compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static "js/materialize.min.js" %}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>bucketlist</title>
</head>

<body>
    <div class="row ">
        <div class="navbar-fixed ">
            <!-- Navbar goes here -->
            <nav class="light-blue dark-4 z-depth-2 fixed">
                <div class="logoe l12 s12 left">
                    <h5><a href='/web/bucketlists/'><img src="{% static "images/logo.png" %}" width="32" alt="">bucketlist </a></h5> 
                </div><a href="/web/logout" class="circle right">logout<i class="material-icons right">https</i> </a>
            </nav>
          
        </div>
        <!-- side -->
{%include 'side.html'%}
        <!-- end side -->
        <!-- Page Layout here -->
        <div class="main">
            <div class=" ">
                <div class="fixed-action-btn" style="">
                    <a class="btn-floating btn-large cyan">
                        <i class="large material-icons">mode_edit</i>
                    </a>
                    <ul>
                        <li><a class="btn-floating btn-large waves-effect waves-light cyan modal-trigger blue-grey-text " href="#modal1"><i class=" large material-icons">add</i></a></li>
                        <li><a class="btn-floating yellow darken-1 modal-trigger" href="#modal6"><i class="material-icons">search</i></a></li>
                    </ul>
                </div>

                {% block content %}{% endblock %} {%include 'modal.html'%}
            </div>
        </div>
</body>
<script>
$(document).ready(function() {
    $('.slider').slider({
        full_width: true
    });
});

// Initialize collapse button
$('.button-collapse').sideNav({
    menuWidth: 300, // Default is 240
    edge: 'left', // Choose the horizontal origin
    closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
});
// Initialize collapsible (uncomment the line below if you use the dropdown variation)
$('.collapsible').collapsible();
</script>
<script>
$('.dropdown-button').dropdown({
    inDuration: 300,
    outDuration: 225,
    constrain_width: false, // Does not change width of dropdown to that of the activator
    hover: true, // Activate on hover
    gutter: 0, // Spacing from edge
    belowOrigin: false, // Displays dropdown below the button
    alignment: 'left' // Displays dropdown with edge aligned to the left of button
$('.collapsible').collapsible({
        accordion: true // A setting that changes the collapsible behavior to expandable instead of the default accordion style

    });

    $('.modal-trigger').leanModal();
     $('.carousel').carousel();
     $('.parallax').parallax();
});



function additem(id) {
    document.form_additem.action = "/web/bucketlists/" + id + "/items/"
};

function editbucketlist(id, sname) {
    document.form_editbucketlist.name.value = sname
    document.form_editbucketlist.action = "/web/bucketlists/" + id + "/?edit=1"
}

function edititem(id, item, name, done) {
    document.form_edititem.name.value = name
    $('#textarea1').val(name);
    $('#textarea1').trigger('autoresize');
    var checked = 2
    if (done == 'True') {
        checked = 1
    }
    document.form_edititem.done.selectedIndex = checked
    document.form_edititem.action = "/web/bucketlists/" + id + "/items/" + item + "/?edit=1"

}


</script>

</html>
