
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
{% load staticfiles %}
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="{% static "css/materialize.min.css" %}">
	<link rel="stylesheet" href="{% static "css/style.css" %}">
	<!-- Compiled and minified JavaScript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="{% static "js/materialize.min.js" %}"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	
	<title>bucketlist</title>
</head>
<body>
	

    <div>    <!-- Navbar goes here -->
<nav>
	<div class="nav-wrapper blue darken-3">
		<a href="#!" class="brand-logo">Logo</a>
		<ul class="right hide-on-med-and-down">
			<li><a href="sass.html"><i class="mdi-action-search left"></i>Link with Left Icon</a></li>
			<li><a href="components.html"><i class="mdi-action-view-module right"></i>Link with Right Icon</a></li>
		</ul>
	</div>
</nav>
</div>
    <!-- Page Layout here -->
    <div class="row">

      

      <div class="col s9 ">
        <div>
            {% block content %}{% endblock %}
        </div>
      </div>

    </div>
          
</body>
<script>
// Initialize collapse button
$('.button-collapse').sideNav({
	menuWidth: 300, // Default is 240
	edge: 'left', // Choose the horizontal origin
	closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
}
);
// Initialize collapsible (uncomment the line below if you use the dropdown variation)
$('.collapsible').collapsible();
</script>
</html>