{% block content %}

<div class="col l12 s12">	
<form action="" method="POST" name="form_additem" >
    {% csrf_token %}
    <legend></legend>
   <div class="row">
  
 
    <div class="col left">
    <i class="material-icons large blue-grey-text ">add_box</i>
    </div>
       
             <div class="input-field l8 left">
            <textarea id="textarea1" class="materialize-textarea" length="254" name='name'></textarea>
            <label for="textarea1">description</label>
     

    </div>
    </div>
    <button type="submit" class="btn blue darken-1 valign">add</button>
</form>
</div>

<script>
//$('.tabs-wrapper').pushpin({ top:110, bottom:500 });
</script>
{% endblock %}
