{% block content %}
<div class="col l12 s12">
    <form action="" method="POST" name="form_additem">
        {% csrf_token %}
        <legend></legend>
        <div class="row">
            <div class="col  ">
                <i class="material-icons large blue-grey-text ">add_box</i>
            </div>
        </div>
        <div class="row">
            <div class="input-field ">
            <i class="material-icons "> add_box</i>
                <textarea id="textarea1" class="materialize-textarea" length="254" name='name' col='30'></textarea>
                <label for="textarea1">description</label>
            </div>
        </div>
        <button type="submit" class="btn blue darken-1 valign right"><i class="material-icons "> add_box</i> add</button>
    </form>
</div>
{% endblock %}
