{% block content %}
<form action="" method="POST" name="form_deletelist">
    {% csrf_token %}
    <div class="input-field">
        <div class="form-group">
            <center>
              
                <br>
                <br>
                <h5 name='name' class="blue-grey-text"> Do you want to delete  this list?</h5></center>
        </div>
        <div class="divider"></div>
    </div>
    <center>
        <br>
        <br>
        <button type="submit" class="btn">yes</button>
        <a href="/bucketlists/" type="reset" class="btn">no</a>
    </center>
</form>{% endblock %}
