{% block content %}
<div class="">
    <form action="" method="POST" name="form_edititem">
        {% csrf_token %}
        <input type="hidden" name="update">
        <div class="row  ">
            <i class="material-icons large blue-grey-text text-lighten-1">add_box</i>
        </div>
        <div class="row ">
            <div class="input-field">
                <span class="help-block"></span>
                <textarea id="textarea1" class="materialize-textarea" length="120" name='name'></textarea>
            </div>
            <div class=" col 12">
                <label>completed </label>
                <select class="icons browser-default" name='done'>
                    <option value="" selected></option>
                    <option value="True">True</option>
                    <option value="False">False</option>
                </select>
            </div>
            <div class="">
                <p>
                    <button type="submit" class="btn  blue darken-1 right">add</button>
                </p>
            </div>
    </form>
    </div>
    {% endblock %}
