{% block content %}
<div >
<div class="intro"></div>
    <form action="" method="POST" name="form_editbucketlist" class="card" style="left:10%; height:50%">
        {% csrf_token %}
        <legend></legend>
        <div class="row  ">

            <h5 class="center-align blue-grey-text"> Update Bucketlist </h5>
        </div>
        <div class="row ">
      <div class="col s10">

            <div class="input-field">
                <span class="help-block"></span>
                <i class="material-icons prefix ">shopping_basket</i>
                <input type="text" class="form-control " id="buck-name" placeholder="bucketlist name" name="name">
            </div>
        </div>
        <input type="hidden" name="update">
        <center>
        <button type="submit" class="btn blue darken-1 "> update <i class="material-icons prefix right">send</i></button>
        </center>
    </form></div>
</div>
<script>
</script>
{% endblock %}
