<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8"> {% load staticfiles %}
    <link rel='shortcut icon' href="{% static "images/logo.png" %}" type='image/x-icon' />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{% static "css/materialize.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <!-- Compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static "js/materialize.min.js" %}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>bucketlist</title>
    <script src="{% static "js/script.js" %}"></script>
</head>
<body class="cyan">
    {% load staticfiles %}
    <div class="curve-index  centered-index   z-depth-0" style="z-index:999999; border: 1px solid #FFF" height='600px'>
        <center><img src="{%static "images/logo.png"%}" width='128'>
            <br>
            <h5 class="white-text"> bucketlist</h5>
            <p class="z-depth-0"><a class="btn cyan darken-2 large show" href="/login/" style="width: 95%"> Make it <i class="large material-icons"> touch_app </i> count</a></p>
            <br/><p>
            <label style="margin-bottom:10px"> © 2016 Copyright Andela </label>
            <br/>
            &nbsp;</p>
        </center>
    </div>
    <div class="homepage-hero-module">
        <div class="video-container">
            <div class="filter"></div>
            <video autoplay loop class="fillWidth">
                <source src="{%static "images/" %}" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
                
            </video>
            <div class="poster hidden">
                <img src=""{%static "images/paint.jpeg" %}"" alt="">
            </div>
        </div>
    </div>
</body>
</html>
