<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8"> {% load staticfiles %}
    <link rel='shortcut icon' href="{% static "images/logo.png" %}" type='image/x-icon' />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{% static "css/materialize.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <!-- Compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static "js/materialize.min.js" %}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>bucketlist</title>
    <script src="{% static "js/script.js" %}"></script>
</head>

<body>
    {% load staticfiles %}
    <div class="curve-index  centered-index   z-depth-5" style="z-index:999999; bodrde: 1px solid" height='600px'>
        <center><img src="{%static "images/logo.png" %}" width='128'> <span class="blue-text"> bucketlist</span>
            <br>
            <p class="z-depth-5"><a class="btn blue large show" href="/login/"> Join the<i class="large material-icons"> touch_app </i> movement</a></p>
            <br/>
            <label> © 2016 Copyright Andela </label>
            <br/>
        </center>
    </div>
    <div class="slider fullscreen intro-slider">
    <ul class="slides">
        
        
        <li>
            <img src="{% static " images/dine.jpeg " %}">
            <!-- random image -->
        </li>
        
    </ul>
</div>
</body>

<script>
$('.slider').slider({
    full_width: true,
    indicators: false,

});
</script>
<style>
    
     .show {
    background: $accent;
    height: 70px;
    width:100%;
    border: 0;
    padding: 20px 15px;
    color: white;
    font-size: 2.2em;
    }
</style>
</html>
