<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"> {% load staticfiles %}
    <link rel='shortcut icon' href="{% static "images/logo.png" %}" type='image/x-icon' />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{% static "css/materialize.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <!-- Compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static "js/materialize.min.js" %}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>bucketlist</title>
    <script src="{% static "js/script.js" %}"></script>
</head>

<body onload="loadDoc()">
    {% load staticfiles %}
    <div class="curve centered intro  z-depth-5" style="z-index:999999; bodrde: 1px solid" height='500px'>
        <h5 class="z-depth-5"><a class="btn blue large" href="/login/"> Join the<i class="large material-icons"> touch_app </i> movement</a></h5><br/>
        <label> © 2016 Copyright Andela </label>
    </div>
    <div class="slider fullscreen intro-slider">
        <ul class="slides">
            <li>
                <img src="{% static "images/travel.jpeg" %}">
                <!-- random image -->
                <div class="caption c">
                    <h5> Without a goal, you can’t score </h5>
                    
                </div>
            </li>
            <li>
                <img src="{% static "images/dine.jpeg" %}">
                <!-- random image -->
                <div class="caption ">
                    <h5> dreams ...take them  seriously</h5>
                   
                </div>
            </li>
            <li>
                <img src="{% static "images/party.jpeg" %}">
                <!-- random image -->
                <div class="caption ">
                    <h5>Today is the youngest you will ever be</h5>
                    
                </div>
            </li>
            <li>
                <img src="{% static "images/skydive.jpeg" %}">
                <!-- random image -->
                <div class="caption ">
                    <h5> Only Those who dare ,truly live.. !</h5>
                    
                </div>
            </li>
            <li>
                <img src="{% static "images/paint.jpeg" %}">
                <!-- random image -->
                <div class="caption ">
                    <h5> If you want time you must make it</h5>
                    
                </div>
            </li>
        </ul>
    </div>
</body>
<script>
$('.slider').slider({
    full_width: true,
    indicators: false,

});
</script>

</html>
