
<!-- delete  list -->
<div id="deletelist" class="modal curve">
    <div class="blue darken-1">&nbsp;
        <label class='white-text'> Delete List</label>
    </div>
    <div class="modal-content">
     {% include 'deletelist.html' %}
    </div>
</div>
<!-- delete  items -->
<div id="deletelitem" class="modal curve">
    <div class="blue darken-1">&nbsp;
        <label class='white-text'> Delete Item</label>
    </div>
    <div class="modal-content">
     {% include 'deleteitem.html' %}
    </div>
</div>
<!-- search form -->
<div id="modal6" class="modal curve">
    <div class="blue darken-1">&nbsp;
        <label class='white-text'> search</label>
    </div>
    <div class="modal-content">
        <form action="/bucketlists?search=" method="get">
            <div class="input-field">
                <input id="search" type="search" name="search" required>
                <label for="search"><i class="material-icons">search</i> search</label>
                <i class="material-icons">close</i>
            </div>
        </form>
    </div>
</div>
<!-- add bucketlist -->
<div id="modal1" class="modal">
    <div class="blue darken-1">&nbsp;
        <label class='white-text'> Add a Bucketlist</label>
    </div>
    <div class="modal-content">
        {% include 'addbucketlist.html' %}
    </div>
</div>
<!-- add items -->
<div id="modal2" class="modal curve2">
    <div class="blue darken-1">&nbsp;
        <label class='white-text'> Add an item</label>
    </div>
    <div class="modal-content">
        {% include 'additems.html' %}
    </div>
</div>
<!-- edit bucketlist-->
<div id="modal3" class="modal curve2">
    <div class="blue darken-1">&nbsp;
        <label class='white-text'> Update Bucketlist</label>
    </div>
    <div>
        {% include 'editbucketlist.html' %}
    </div>
</div>
<!-- edit items -->
<div id="modal4" class="modal curve2">
    <div class="blue darken-1">&nbsp;
        <label class='white-text'> Update item</label>
    </div>
    <div class="modal-content">
        {% include 'edititem.html' %}
    </div>
</div>


 




