<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8"> {% load staticfiles %}
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{% static "css/materialize.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <!-- Compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static "js/materialize.min.js" %}"></script>
    <script src="{% static "js/script.js" %}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>bucketlist</title>
</head>
<body class="sign-container blue">
    <div class=" centered intro  light3-blue accent-4 s12" style="backgroun2d-color:rgba(1,87,205,0.9)">
        
        <div class="" >
            <form method='POST' action='/web/login/' class="curve blue inner-log z-depth-2 valign  col s12  offset-s6" >
                {% csrf_token %}
                <div class=" z-depth-2" Style="background-color:rgba(255,255,255,0.9)">
                    <div class="blue">
                        <h4><i class="material-icons  large white-text prefix">account_circle</i></h4>
                        <h4 class="grey-text text-lighten-5 " style="text-shadow: 1px 1px #000"> Bucketlist</h4> {% block content %}</div>
                    <div class="error"> {% for r, k in form.items%} {{k}} {% endfor %}
                    </div>
                    <div class="row">
                        <div class="input-field col s12 ">
                            <i class="material-icons  blue-text prefix">account_circle</i>
                            <input id="username" type="text" class="validate" name='username'>
                            <label for="username">username</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 ">
                            <i class="material-icons blue-text prefix">lock_outline</i>
                            <input id="password" type="password" class="validate" name="password">
                            <label for="password">password</label>
                        </div>
                    </div>
                    <button type="submit" class="btn blue waves-effect waves-light"><i class="material-icons right">send</i> sign in</button><div class="divider"></div>
                    <br/>
                    <a class="cyan waves-effect waves-light btn modal-trigger" href="#modal1" style=" opacity: 1;"><small>sign-up</small></a>
            </form>
            </div>
        </div></div> </body>
        <!-- <div class="parallax"> <img src="{% static "images/travel.jpeg" %}">
</div> -->
        <!-- Modal Trigger -->
        <!-- Modal Structure -->
        <div id="modal1" class="modal fixed curve2" style ="width:400px">
    <div class="blue row">
        <h5 class="white-text center"><i class="material-icons large">account_circle</i><br>Sign Up </h5>
    </div>
    <div class=" ">
        <div class="row">
            <form class="signup col s12" action="/web/signup/" method="POST" name='signup'>
                {% csrf_token %}
                <div class="row">
                    <div class="input-field col s12">
                        <i class="tiny material-icons blue-text prefix">account_circle</i>
                        <input id="username" name="username" type="text" class="validate" required>
                        <label for="username">username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons blue-text prefix">lock_outline</i>
                        <input id="password" type="password" name="password" class="validate" required>
                        <label for="password">password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons blue-text prefix">email</i>
                        <input id="email" type="email" class="validate" name="email" required>
                        <label for="email">Email</label>
                    </div>
                </div><center>
                <button type="submit" class="blue btn waves-effect waves-light "><i class="material-icons right">send</i>submit</button></center>
            </form>
        </div>
    </div>

</div>
       

            {% endblock %}