{% extends 'partials/base.html' %}

{% block content %}

   <div class=" row l6">

   	<form method ='POST' action='/web/login/'class="card col s12 l6 ">
   	  {% csrf_token %}
   		<div class="row">
   		<div class="row">
   			<div class="input-field col s12">
   				<input id="username" type="text" class="validate">
   				<label for="username">username</label>
   			</div>
   		</div>
   		<div class="row">
   			<div class="input-field col s12">
   				<input id="password" type="password" class="validate">
   				<label for="password">password</label>
   			</div>
   		</div>
   		
   		<button type="submit" class="btn waves-effect waves-light"><i class="material-icons right">send</i></button>
   	</form>
   </div>

{% endblock %}